# List the timezone to be running this container as
#   TZ IDs: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TIMEZONE='America/New_York'

# Linux User ID to run these applications as
PUID=1000

# Linux Group ID to run these applications as
GUID=1000

# **************************
#      LIBRARY SETTINGS
# **************************
MOVIE_VOLUME='/mnt/d/docker-test-data/servarr/Movies'
TV_VOLUME='/mnt/d/docker-test-data/servarr/TV_Shows'
BOOKS_VOLUME='/mnt/d/docker-test-data/readarr/Books'

# **************************
#       PIA SETTINGS
# **************************

# The read-write path on the host system where the PIA auth token should be stored
# Windows paths should be formatted with double backslashes in the path name
# i.e. d:\\pia\\auth
PIA_AUTH_TOKEN_VOLUME='/mnt/d/docker-test-data/servarr/pia'

# The read-write path on the host system where the PIA port number is written to
PIA_PORT_NUMBER_VOLUME='/mnt/d/docker-test-data/servarr/pia/pia-shared'

# Location id to connect to. Available server location ids are listed here. 
# Example values include us_california, ca_ontario, and swiss. 
# If left empty the container will print out all currently available location ids and exit.
# Multiple ids can be listed, separated by either a space or a comma, and are used as 
# fallback if the initial endpoint registration fails.
PIA_LOC=ca_ontario

# PIA Username
PIA_USERNAME=p********

# PIA Password
PIA_PASSWORD=**********

# Whether to route and allow input/output traffic to the LAN. LAN access will be unavailable 
# if not specified. Multiple ranges can be specified, separated by a comma or space. 
#    Note that there may be DNS issues if this overlaps with PIA's default DNS servers 
#    (10.0.0.243 and 10.0.0.242 as of July 2022). 
# Custom DNS servers can be defined using VPNDNS (see below) if this is an issue.
LOCAL_NETWORK=192.168.9.0/24

# If defined, PersistentKeepalive will be set to this in the WireGuard config
KEEPALIVE=25

# Whether to enable port forwarding. Requires a supported PIA server. Defaults to 0 if not specified.
PORT_FORWARDING=1

# **************************
#    QBITTORRENT SETTINGS
# **************************
# The read-write path on the host system where the qBittorrent config is stored
# QBT_CONFIG_VOLUME='D:\\docker-test-data\\qbittorrent\\config'
QBT_CONFIG_VOLUME='/mnt/d/docker-test-data/servarr/qbittorrent/config'

# The read-write path on the host system where the qBittorrent config is stored
# QBT_DOWNLOADS_VOLUME='D:\\docker-test-data\\qbittorrent\\downloads'
QBT_DOWNLOADS_VOLUME='/mnt/d/docker-test-data/servarr/qbittorrent/downloads'

# The username needed to access qBittorrent
QBT_USERNAME=*****

# The password needed to access qBittorrent
QBT_PASSWORD=********

# The port qBittorrent should be listening for HTTP traffic on for displaying the web interface
QBT_WEB_PORT=8080

# **************************
#    PROWLARR SETTINGS
# **************************
# The port prowlarr should be listening for HTTP traffic on for displaying the web interface
PROWLARR_WEB_PORT=9696

# The read-write path on the host system where the prowlarr config is stored
PROWLARR_CONFIG_VOLUME='/mnt/d/docker-test-data/servarr/prowlarr/config'

# **************************
#    SONARR SETTINGS
# **************************
# The port prowlarr should be listening for HTTP traffic on for displaying the web interface
SONARR_WEB_PORT=8989

# The read-write path on the host system where the prowlarr config is stored
SONARR_CONFIG_VOLUME='/mnt/d/docker-test-data/servarr/sonarr/config'

# **************************
#    RADARR SETTINGS
# **************************
# The port prowlarr should be listening for HTTP traffic on for displaying the web interface
RADARR_WEB_PORT=7878

# The read-write path on the host system where the prowlarr config is stored
RADARR_CONFIG_VOLUME='/mnt/d/docker-test-data/servarr/radarr/config'

# **************************
#    READARR SETTINGS
# **************************
# The port readarr should be listening for HTTP traffic on for displaying the web interface
READARR_WEB_PORT=8787

# The read-write path on the host system where the readarr config is stored
READARR_CONFIG_VOLUME='/home/stheisen/docker-data/servarr/readarr/config'
